USE [master]
GO
/****** Object:  Database [Newspaper]    Script Date: 18.02.2020 17:27:26 ******/
CREATE DATABASE [Newspaper]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Newspaper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Newspaper]
GO
USE [Newspaper]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 18.02.2020 17:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Topic] [nvarchar](255) NOT NULL,
	[Text] [nvarchar](max) NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 18.02.2020 17:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagRelation]    Script Date: 18.02.2020 17:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagRelation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TagId] [int] NOT NULL,
	[ArticleId] [int] NOT NULL,
 CONSTRAINT [PK_TagRelation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([Id], [Topic], [Text]) VALUES (1, N'Great news!', N'bla bla')
INSERT [dbo].[Article] ([Id], [Topic], [Text]) VALUES (2, N'Very very great news!', N'bla bla bla')
INSERT [dbo].[Article] ([Id], [Topic], [Text]) VALUES (3, N'So sad...', N'...')
SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([Id], [Name]) VALUES (1, N'Great')
INSERT [dbo].[Tag] ([Id], [Name]) VALUES (2, N'Sad')
SET IDENTITY_INSERT [dbo].[Tag] OFF
SET IDENTITY_INSERT [dbo].[TagRelation] ON 

INSERT [dbo].[TagRelation] ([id], [TagId], [ArticleId]) VALUES (1, 1, 1)
INSERT [dbo].[TagRelation] ([id], [TagId], [ArticleId]) VALUES (2, 1, 2)
INSERT [dbo].[TagRelation] ([id], [TagId], [ArticleId]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[TagRelation] OFF
/****** Object:  Index [AK_TagRelation_Article_Tag]    Script Date: 18.02.2020 17:27:26 ******/
ALTER TABLE [dbo].[TagRelation] ADD  CONSTRAINT [AK_TagRelation_Article_Tag] UNIQUE NONCLUSTERED 
(
	[ArticleId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TagRelation]  WITH CHECK ADD  CONSTRAINT [FK_TagRelation_Article] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Article] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagRelation] CHECK CONSTRAINT [FK_TagRelation_Article]
GO
ALTER TABLE [dbo].[TagRelation]  WITH CHECK ADD  CONSTRAINT [FK_TagRelation_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagRelation] CHECK CONSTRAINT [FK_TagRelation_Tag]
GO
USE [master]
GO
